////////////////////////////////////
/////Main Mobile Frame Classes/////
//////////////////////////////////

.mobile-frame
	background: $frame-color
	height: 100%
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	padding: 40px 0

.mobileContainer
	width: 465px
	height: 923px
	overflow-x: scroll
	position: relative
	background-image: url('/images/iphone-outline.png')

.mobileContainer-inner
	background: white
	position: absolute
	top: 119px
	right: 40px
	width: 389px
	height: 690px
	border-radius: 3px
